<ion-view view-title="Ciclo Pack - Login">
	<ion-content class="login-content">
		<img ng-src="ciclo-pack-logo.png" alt="Ciclo Pack Logo"></img>

		<div class="login-form col col-80 col-offset-10 text-center">
			<h3 class="page-title">Cadastre-se</h3>

			<div class="form-group">
				<label class="form-label" for="email">Email</label>
				<input class="form-field" type="text" name="email">
			</div>

			<div class="form-group">
				<label class="form-label" for="email">Senha</label>
				<input class="form-field" type="password" name="password">
			</div>

			<input type="submit" class="login-btn" value="Entrar">
		</div>
	</ion-content>
</ion-view>